.Home__hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/hero3.png');
  min-height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Home__hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-height: 480px) {
    top: 70%;
  }

  h1 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  p {
    font-size: 1.5rem;
    color: #ddd;
  }

  @media only screen and (max-height: 480px) {
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.3rem;
    }

    a {
      display: none;
    }
  }
}

.Home-contact__hero {
  width: 100%;
  min-height: 20rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/equipment-model-inside.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Home-contact__hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
  }

  hr {
    border-top: 2px solid #ccc;
  }
}
