.aws-btn {
  &--lightblue {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #c7c7c7;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: rgba(35, 191, 196, 0.5);
    --control-bullet-active-color: rgb(35, 191, 196);
    --loader-bar-color: rgb(35, 191, 196);
    --loader-bar-height: 6px;
  }

  &--lightgreen {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #c7c7c7;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: rgba(166, 215, 147, 0.5);
    --control-bullet-active-color: rgb(166, 215, 147);
    --loader-bar-color: rgb(166, 215, 147);
    --loader-bar-height: 6px;
  }
}
