.FeatureCard {
  font-size: 1rem;
  padding: 1.5rem;

  &--blue {
    @extend .FeatureCard;
    background-color: rgba(35, 191, 196, 0.1);
    border-left: 3px solid $lightblue-color;
  }

  &--green {
    @extend .FeatureCard;
    background-color: rgba(166, 215, 147, 0.1);
    border-left: 3px solid $lightgreen-color;
  }

  &--gray {
    @extend .FeatureCard;
    background-color: rgba(150, 152, 154, 0.1);
    border-left: 3px solid $gray-color;
  }
}
