.FeatureCard {
  font-size: 1rem;
  padding: 1.5rem;

  &--blue {
    @extend .FeatureCard;
    background-color: $lightblue-color-transparent-dark;
    border-left: 3px solid $lightblue-color;
  }

  &--green {
    @extend .FeatureCard;
    background-color: $lightgreen-color-transparent-dark;
    border-left: 3px solid $lightgreen-color;
  }

  &--gray {
    @extend .FeatureCard;
    background-color: $gray-color-transparent-dark;
    border-left: 3px solid $gray-color;
  }

  &--orange {
    @extend .FeatureCard;
    background-color: $orange-color-transparent-dark;
    border-left: 3px solid $orange-color;
  }

  &--yellow {
    @extend .FeatureCard;
    background-color: $yellow-color-transparent-dark;
    border-left: 3px solid $yellow-color;
  }
}
