.SquareCard {
  height: 15rem;
  background: transparent;
  padding: 3rem;

  &--blue {
    @extend .SquareCard;
    border-bottom: 3px solid $lightblue-color;
    border-right: 3px solid $lightblue-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: $lightblue-color-transparent-dark;
    }
  }

  &--green {
    @extend .SquareCard;
    border-bottom: 3px solid $lightgreen-color;
    border-right: 3px solid $lightgreen-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: $lightgreen-color-transparent-dark;
    }
  }

  &--orange {
    @extend .SquareCard;
    border-bottom: 3px solid $orange-color;
    border-right: 3px solid $orange-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: $orange-color-transparent-dark;
    }
  }

  &--yellow {
    @extend .SquareCard;
    border-bottom: 3px solid $yellow-color;
    border-right: 3px solid $yellow-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: $yellow-color-transparent-dark;
    }
  }
}
