.SquareCard {
  height: 15rem;
  background: transparent;
  padding: 3rem;

  &--blue {
    @extend .SquareCard;
    border-bottom: 3px solid $lightblue-color;
    border-right: 3px solid $lightblue-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: rgba(35, 191, 196, 0.1);
    }
  }

  &--green {
    @extend .SquareCard;
    border-bottom: 3px solid $lightgreen-color;
    border-right: 3px solid $lightgreen-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: rgba(166, 215, 147, 0.1);
    }
  }

  &--red {
    @extend .SquareCard;
    border-bottom: 3px solid $orange-color;
    border-right: 3px solid $orange-color;
    box-shadow: 3px 3px 10px 1px #ddd;

    &:hover {
      background-color: rgba(255, 165, 0, 0.1);
    }
  }
}
