hr {
  background-color: #bbb;
}

.hr {
  &-lightblue {
    border-top: 1px solid $lightblue-color;
  }

  &-lightgreen {
    border-top: 1px solid $lightgreen-color;
  }

  &-orange {
    border-top: 1px solid $orange-color;
  }

  &-yellow {
    border-top: 1px solid $yellow-color;
  }
}

.heading-h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.heading-h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;

  &--blue-border {
    @extend .heading-h3;
    padding-left: 0.5rem;
    border-left: 3px solid $lightblue-color;
  }

  &--green-border {
    @extend .heading-h3;
    padding-left: 0.5rem;
    border-left: 3px solid $lightgreen-color;
  }

  &--orange-border {
    @extend .heading-h3;
    padding-left: 0.5rem;
    border-left: 3px solid $orange-color;
  }

  &--yellow-border {
    @extend .heading-h3;
    padding-left: 0.5rem;
    border-left: 3px solid $yellow-color;
  }
}

.heading-h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}
