// COLORS
$lightblue-color: #23bfc4;
$lightblue-color-transparent: rgba(35, 191, 196, 0.5);
$lightblue-color-transparent-dark: rgba(35, 191, 196, 0.1);
$lightgreen-color: #a6d793;
$lightgreen-color-transparent: rgba(166, 215, 147, 0.5);
$lightgreen-color-transparent-dark: rgba(166, 215, 147, 0.1);
$orange-color: #ffa500;
$orange-color-transparent: rgba(255, 165, 0, 0.5);
$orange-color-transparent-dark: rgba(255, 165, 0, 0.1);
$yellow-color: #f1c13b;
$yellow-color-transparent: rgba(241, 193, 59, 0.5);
$yellow-color-transparent-dark: rgba(241, 193, 59, 0.1);
$gray-color: #96989a;
$gray-color-transparent: rgba(150, 152, 154, 0.5);
$gray-color-transparent-dark: rgba(150, 152, 154, 0.1);
$background-color: rgb(241, 241, 241);
