@import './variables';
@import './custom';
@import '~bootstrap/scss/bootstrap';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $main-text;
  background-color: $background;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
